body{
  margin: 0 auto;
  background-color: #e6e6e6;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  }

.presentation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  color: #00205b;
  font-size: 30px;
  padding: 1px 800px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: center;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 280px;
  width: 100%;
  background-color: #00205b;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 5em;
  color: #e6e6e6;
 justify-content: center ;
 margin-left: 400px;
}

.logo_sncf {
  height: 470px;
  width: 450px;
}

/* Menu de navigation */
.nav {
  list-style-type: none;
  padding: 1%;
  margin-top: 200px;
}

.nav li {
  display: inline;
  margin: 0 50px;
}

.nav a {
  text-decoration: none;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 2rem;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.nav a:hover {
  color: #82BE00;
  text-decoration: none; }
  
  
.titre_principal {
  margin: 0;
  font-size: 24px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Bandeau Accueil */
.Bienvenue {
  text-align: center;
  margin-top: 80px;
}

.titre2 {
  font-size: 5rem; 
  margin-bottom: 120px;
  white-space: nowrap; 
  margin-left: -300px;
}


/* GENERAL BLOCK */
.BlocGénéral {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 560px);
}

/* PREMIERE PARTIE */
.PremierBloc {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 4000px;
  margin-top: 100px;
  margin-left: -1400px;
}

.Decription {
  display: flex; /* Affichage flex pour que les enfants soient en ligne */
  flex-direction: column; /* Maintien d'un affichage vertical pour les titres et les paragraphes */
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 50px;
  border: 2px solid #00205b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Decription h3 {
  font-size: 2.5em;
  color: #00205b;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Premier_Texte {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  font-size: 2em;
  margin-bottom: 10px;
  color: #00205b;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.footer h3 {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 10px 0;
}

.logo_sncf2 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 380px;
  height: auto;
}

.footer-link {
  color: #e6e6e6;
  text-decoration: none;
}
.footer-link:hover {
  color: #82BE00;
  text-decoration: none }


/* Responsive */
@media screen and (max-width: 768px) {
  .ImageText {
      flex-direction: column;
      align-items: center;
  }

  .Image2 {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
  }

  .Decription {
      max-width: 100%;
  }

  .PremierBloc {
      flex-direction: column; /* Pour mobile, mettre en vertical */
  }
}
