body{
    margin: 0 auto;
    background-color: #e6e6e6;
    height: 100%;
    overflow: hidden;
    position: relative;
    }
     
    .presentation{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      color:#00205b;
    font-size: 30px;
      padding:  1px 800px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      text-align: center;
        }
    
        h3{
          position: fixed;
          bottom: 0;
          width: 100%;
          color: white;
          text-align: center;
          padding: 10px 0;
          font-size: 2rem;
      }
      
          /*HEADER*/
    .header{
        display : flex;
       justify-content: space-between;
       align-items: center;
        height: 280px;
        width: 100%;
        border: solid;
        background-color: #00205b;
        border-color: #00205b;  
        padding: 20px; }
  
        
        .header h1 {  
          margin: 0; 
          font-size: 5em; 
         text-align: center;
         color: #e6e6e6;
        }
    
  
       .logo_sncf{
        height: 470px;
        width: 450px;
       }
  /*PREMIER BLOC*/
  
   .Bienvenue {
    margin-top: 0;
    padding-top: 0;
    text-align: center; 
  
  }
   .titre2{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    margin-left: 400px;
   }

   /* FORMULAIRE */
   form {
    margin: 40px auto;
    background-color: #ffffff;
    padding: 60px 50px;
    border-radius: 10px;
    max-width: 1100px;
    height: 1000px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

form .form-title {
    color: #82BE00;
    font-size: 3rem; 
    margin-bottom: 30px; 
    text-align: center;
}
form .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}


form .inputs input[type="email"],
form .inputs input[type="password"] {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    outline: none;
    font-size: 2rem;
}

form .inputs input[type="email"]:focus,
form .inputs input[type="password"]:focus {
    border-color: #82BE00;
    box-shadow: 0 0 5px rgba(130, 190, 0, 0.2);
}

form p.inscription {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color:#00205b;
}

form p.inscription span {
    color: #82BE00;
    font-weight: bold;
    cursor: pointer;
    
}
form p.inscription a.inscription-link {
    color: #82BE00; 
    font-weight: bold;
    user-select: none;
}

form p.inscription a.inscription-link:hover {
    color: #6fae00; 
}
form button {
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: #ffffff;
    background-color: #82BE00;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


form button:hover {
    background-color: #6fae00;
    transform: scale(1.02);
}

form button:focus {
    outline: none;
}




    /* FOOTER */
.footer {
    height: 280px;
    background-color: #00205b;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0; 
    padding: 0; 
    margin-top: 20px; 
  }     
              
              .footer h3 {
                  font-size: 2rem;
                  color: white;
                  margin: 0;
                  padding: 10px 0;
              }
    
            
              .logo_sncf2 {
                  position: absolute;     
                  left: 10px; 
                  bottom: 10px; 
                  width: 380px;
                  height: auto;
              }
    
  
              .footer-link {
                color: #e6e6e6; 
                text-decoration: none; 
            }
            
            .footer-link:hover {
                text-decoration: underline; 
            }
        