body{
    margin: 0 auto;
    background-color: #e6e6e6;
    height: 100%;
    overflow: hidden;
    position: relative;
    }
     
    .presentation{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      color:#00205b;
    font-size: 30px;
      padding:  1px 800px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      text-align: center;
        }
    
        h3{
          position: fixed;
          bottom: 0;
          width: 100%;
          color: white;
          text-align: center;
          padding: 10px 0;
          font-size: 2rem;
      }
      
          /*HEADER*/
    .header{
        display : flex;
       justify-content: space-between;
       align-items: center;
        height: 280px;
        width: 100%;
        border: solid;
        background-color: #00205b;
        border-color: #00205b;  
        padding: 20px; }
  
        
        .header h1 {  
          margin: 0; 
          font-size: 5em; 
         text-align: center;
         color: #e6e6e6;
        }
    
  
       .logo_sncf{
        height: 470px;
        width: 450px;
       }
  
       /* menu de navigation*/
       .nav {
          list-style-type: none;
          padding: 1%;
          margin-top: 200px;
      }
  
         .nav li {
          display: inline;
          margin: 0 50px }
  
          .nav a {
            text-decoration: none; 
            color: #e6e6e6;
            font-weight: bold;
            font-size: 2rem;
            font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
          }
  
          .nav a:hover {
            color: #82BE00;
            text-decoration: none; }
            
            .titre_principal {
              margin: 0;
              font-size: 24px;
          }
         
  /*Bandeau Accueil*/
  
  .Bienvenue{
  text-align: center;
  margin-top: 80px;
  }
  
  .titre2 {
    text-align: center;
    font-size: 6rem;
    margin: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}
  
  /* GENERAL BLOCK */
  .BlocGénéral {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; 
    border-radius: 10px;
    background-color: #e6e6e6;
    gap: 20px;
    height: auto; 
  }
  
  
  /*PREMIERE PARTIE */
  
  .Image2 {
    width: 60%; 
    margin-top: -380px;
    margin-left: -220px;
    transform: translate(-10px, -10px);
  }
  .ImageText {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
  
  .PremierBloc {
    display: flex;
    align-items: center;
    width: 70%; 
  }
  
  .Decription {     
      max-width: 60%;
      margin-left: 100px;
    border: 2px solid #00205b; 
    border-radius: 10px;
    margin-top: 350px;
    color: #00205b;
    padding: 30px;
}
  
  .Premier_Texte {
    font-size: 3rem; 
    line-height: 1.5; 
  }

  p {
    font-size: 2em;
    margin-bottom: 10px;
    color: #00205b;
}

.Decription h2 {
    font-size: 5em;
    text-align: center;
    color: #82BE00; 
    margin-bottom: 5px; 
    font-weight: bold;
}


.highlight {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #00205b;    
}


  /* FOOTER */
  .footer {
    height: 280px;
    background-color: #00205b;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0; 
    padding: 0; 
    margin-top: 20px; 
  }     
              
              .footer h3 {
                  font-size: 2rem;
                  color: white;
                  margin: 0;
                  padding: 10px 0;
              }
    
            
              .logo_sncf2 {
                  position: absolute;     
                  left: 10px; 
                  bottom: 10px; 
                  width: 380px;
                  height: auto;
              }
    
  
              .footer-link {
                color: #e6e6e6; 
                text-decoration: none; 
            }
            
            .footer-link:hover {
                text-decoration: underline; 
            }
        
  
        
  
     
            @media screen and (max-width: 768px) {
                .ImageText {
                    flex-direction: column; 
                    align-items: center;
                }
                
                .Image2 {
                    max-width: 100%;  
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                
                .Decription {
                    max-width: 100%; 
                }
            }