body{
  margin: 0 auto;
  background-color: #e6e6e6;
  height: 100%;
  overflow: hidden;
  position: relative;
  }
   
  .presentation{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color:#00205b;
  font-size: 30px;
    padding:  1px 800px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
      }
  
      h3{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 2rem;
    }
    
        /*HEADER*/
  .header{
      display : flex;
     justify-content: space-between;
     align-items: center;
      height: 280px;
      width: 100%;
      border: solid;
      background-color: #00205b;
      border-color: #00205b;  
      padding: 20px; }

      
      .header h1 {  
        margin: 0; 
        font-size: 5em; 
       text-align: center;
       color: #e6e6e6;
      }
  

     .logo_sncf{
      height: 470px;
      width: 450px;
     }
/*PREMIER BLOC*/

 .Bienvenue {
  margin-top: 0;
  padding-top: 0;
  text-align: center; 

}
 .titre2{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin-left: 400px;
 }

form {
  max-width: 1100px;
  width: 100%;
  margin: 20px auto 0; /* Ajuste la marge pour le déplacer vers le haut */
  padding: 180px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  margin-left: 2400px;
}

  .name-field {
    display: flex;
   flex-direction:column ;
    gap: 30px; 
    margin-bottom: 20px; /* Ajouter un espace en dessous de la ligne */
  }


  .name-field div {
    display: flex;
    flex-direction: column; 
  }

  .name-field label, .name-field input {
    display: block;
    width: 100%;
    margin-bottom: 10px; 
  }

form h4 {
  margin-top: -50px;
  margin-bottom: 40px;
  font-size: 4rem; 
  text-align: center; 
  color: #00205b; 
}

hr{
  margin: 10px 0;
  background-color: #6da100;
  border: 0;
  height: 1px;
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #00205b;
}

/* Style pour les champs de saisie */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%; 
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ddd; 
  border-radius: 5px; 
  font-size: 2rem;
  background-color: #e6e6e6;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style pour le bouton de soumission */
form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #82BE00; 
  color: white;
  font-size:3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Effet sur le bouton au survol */
form input[type="submit"]:hover {
  background-color: #6da100; 
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style pour le lien de connexion */
form p {
  text-align: center;
  font-size: 3rem;
 text-align: center;
}

form p a {
  color: #00205b;
  text-decoration: none;
  font-weight: bold;
}

form p a:hover {
  text-decoration: underline;
}

/* Style du champ de mot de passe */
.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; 
}

.password-field i {
  position: absolute;
  right: 10px;
  font-size: 2rem;
  cursor: pointer; /
}

/* Style de base de la checkbox */
input[type="checkbox"] {
  width: 50px; 
  height: 50px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #00205b;
  background-color: #00205b;
  margin: 5px;
}

/* Style pour la case cochée */
input[type="checkbox"]:checked {
  background-color: #00205b;
  border-color: #00205b;
}

input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  color: #00205b;
  position: relative;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #00205b;
  border-radius: 4px; 
  background-color: #fff;
  margin-right: 8px;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label::before {
  background-color: #00205b;
  border-color: #00205b;
  content: '\2713';
  color: #fff; 
  font-size: 16px;
  text-align: center;
  line-height: 24px; 
}

            /* FOOTER */
.footer {
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0; 
  padding: 0; 
  margin-top: 20px; 
}     
            
            .footer h3 {
                font-size: 2rem;
                color: white;
                margin: 0;
                padding: 10px 0;
            }
  
          
            .logo_sncf2 {
                position: absolute;     
                left: 10px; 
                bottom: 10px; 
                width: 380px;
                height: auto;
            }
  

            .footer-link {
              color: #e6e6e6; 
              text-decoration: none; 
          }
          
          .footer-link:hover {
              text-decoration: underline; 
          }
      

    
       
        
   
                    