@media (max-width: 768px) 
  BlocGénéral {
      flex-direction: column;
      align-items: center;
  }


  .presentation{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color:#00205b;
  font-size: 30px;
    padding:  1px 800px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
      }
  
      h3{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 2rem;
    }
   
        /*HEADER*/
        .header{
          display : flex;
         justify-content: space-between;
         align-items: center;
          height: 280px;
          width: 100%;
          border: solid;
          background-color: #00205b;
          border-color: #00205b;  
          padding: 20px; }
    
          
          .header h1 {  
            margin: 0; 
            font-size: 5em; 
           text-align: center;
           color: #e6e6e6;
          }
      
    
         .logo_sncf{
          height: 470px;
          width: 450px;
         }
              
          
        .titre_principal {
            margin: 0;
            font-size: 24px;
        }

        /*Bandeau Accueil*/

.Bienvenue{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 150px;
  }

  .titre2 {
    text-align: center;
    font-size: 6rem;
    margin: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}
  

/* GENERAL BLOCK */
.BlocGénéral {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 50px; 
  border-radius: 10px;
  background-color: #e6e6e6;
  gap: 20px;
  height: auto; 
}
  
  /*Bandeau Accueil*/
  
  .titre2 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}
  
/*CONTAINER */
  
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 width: 100%;
}

.image-container {
  flex: 1;
  max-width: 45%;
  margin-top: -600px;
  margin-left: -280px;
}

.image-container img {
  width: 100%; 
  height: auto; 
}

.form-container {
  flex: 0 0 1800px;
  margin-top: 200px;
  background-color: #e6e6e6;
  padding: 20px;
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-container label {
  display: block;
  font-weight: bold;
  margin: px 0 5px;
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 30px;
  
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}


.form-container button {
  background-color: #82BE00;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 26px;
}

.form-container button:hover {
  background-color: #001f4d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
  
.form-container h1 {
  font-size: 3rem; 
  color: #82BE00;
  margin-bottom: 60px; 
  text-align: center;
  font-weight: bold;
}


  /* FOOTER */
.footer {
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0; 
  padding: 0; 
  margin-top: 20px; 
}     
            
.footer h3 {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 10px 0;
}


.logo_sncf2 {
  position: absolute;     
  left: 10px; 
  bottom: 10px; 
  width: 380px;
  height: auto;
}


.footer-link {
color: #e6e6e6; 
text-decoration: none; 
}

.footer-link:hover {
text-decoration: underline; 
}

  
        
  
     
      