body{
  margin: 0 auto;
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  }
   
  .presentation{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color:#00205b;
  font-size: 30px;
    padding:  1px 800px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
      }
  
      h3{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 2rem;
    }
    
        /*HEADER*/
  .header{
      display : flex;
     justify-content: space-between;
     align-items: center;
      height: 280px;
      width: 100%;
      border: solid;
      background-color: #00205b;
      border-color: #00205b;  
      padding: 20px; }

      
      .header h1 {  
        margin: 0; 
        font-size: 5em; 
       text-align: center;
       color: #e6e6e6;
      }
  

     .logo_sncf{
      height: 470px;
      width: 450px;
     }

     /* menu de navigation*/
     .nav {
        list-style-type: none;
        padding: 1%;
        margin-top: 200px;
    }

       .nav li {
        display: inline;
        margin: 0 50px }

        .nav a {
          text-decoration: none; 
          color: #e6e6e6;
          font-weight: bold;
          font-size: 2rem;
          font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
        }

        .titre_principal {
          margin: 0;
          font-size: 24px;
      }
/*Bandeau Accueil*/

.Bienvenue{
text-align: center;
margin-top: 80px;
}

.titre2 {
  text-align: center;
  font-size: 6rem;
  margin: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}

/* GENERAL BLOCK */
.BlocGénéral {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; 
  border-radius: 10px;
  background-color: #e6e6e6;
  gap: 20px;
  height: auto; 
}


/*PREMIERE PARTIE */

.Image3 {
  width: 80%; 
  margin-top: -180px;
  margin-left: -200px;
  transform: translate(-10px, -10px);
}
.ImageText {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.PremierBloc {
  display: flex;
  align-items: center;
  width: 70%; 
}

form{
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 1500px;
  height: 1700px;
}

form h1{
  font-size: 5rem;
  text-align: center;
  color: #82BE00;
  font-weight: bold;
}
form .separation{
  width: 100%;
  height: 1px;
  background-color: #00205b;
}
form .formulaire {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 30px;
}

form .formulaire .boite{
  position: relative;
  margin-top:30px;
  display: flex;
  flex-direction: column;
}

form .formulaire .gauche .boite input{
  margin-top: 5px;
  padding:10px 5px 10px 30px;
  border: 1px solid #00205b;
  outline-color: #82BE00;
  border-radius: 5px;
}

form .formulaire .gauche .boite i{
position: absolute;
left: 0;
top: 25px;
padding: 9px 8px;
color: #82BE00; 
}


form .formulaire .droite{
  margin-left: 40px;
}
form .formulaire .droite .boite{
 height: 100%;
}

form .formulaire .droite .boite textarea{
  margin-top: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 2px solid #00205b;
  border-radius: 5px;
  resize: none;
  height:72%;
}

form .pied-formulaire button{
  margin-top:10px;
  background-color: #00205b;
  color: #e6e6e6;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}

form .pied-formulaire button:hover{
 transform: scale(1.05);
}

@media screen and (max-width: 920px){
  form .formulaire .droite{
    margin-left: 0;
  } 

}
  






/* FOOTER */
.footer {
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0; 
  padding: 0; 
  margin-top: 20px; 
}     
            
            .footer h3 {
                font-size: 2rem;
                color: white;
                margin: 0;
                padding: 10px 0;
            }
  
          
            .logo_sncf2 {
                position: absolute;     
                left: 10px; 
                bottom: 10px; 
                width: 380px;
                height: auto;
            }
  

            .footer-link {
              color: #e6e6e6; 
              text-decoration: none; 
          }
          
          .footer-link:hover {
              text-decoration: underline; 
          }
      

      

   
          @media screen and (max-width: 768px) {
              .ImageText {
                  flex-direction: column; 
                  align-items: center;
              }
              
              .Image2 {
                  max-width: 100%;  
                  margin-right: 0;
                  margin-bottom: 20px;
              }
              
              .Decription {
                  max-width: 100%; 
              }
          }