body {
  margin: 0; 
  background-color: #e6e6e6;
  height: 100vh; 
  display: flex;
  flex-direction: column; 
}
   
  .presentation{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color:#00205b;
  font-size: 30px;
    padding:  1px 800px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
      }
   
    
        /*HEADER*/
  .header{
      display : flex;
     justify-content: space-between;
     align-items: center;
      height: 280px;
      width: 100%;
      border: solid;
      background-color: #00205b;
      border-color: #00205b;  
      padding: 20px; }

      
      .header h1 {  
        margin: 0; 
        font-size: 5em; 
       text-align: center;
       color: #e6e6e6;
      }
  

     .logo_sncf{
      height: 470px;
      width: 450px;
     }

  
     /* menu de navigation*/
     .nav {
      list-style-type: none;
      padding: 1%;
      margin-top: 200px;
  }

     .nav li {
      display: inline;
      margin: 0 50px }

      .nav a {
        text-decoration: none; 
        color: #e6e6e6;
        font-weight: bold;
        font-size: 2rem;
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      }
      
      .nav a:hover {
        color: #82BE00;
        text-decoration: none; }
        
        .titre_principal {
          margin: 0;
          font-size: 24px;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }

      .Bienvenue{
        text-align: center;
        margin-top: 80px;
        margin-bottom: ;
        }
        
        .titre2 {
          text-align: center;
          font-size: 6rem;
          margin: 0;
          font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}
        
   /* GENERAL BLOCK */
.BlocGénéral {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;
  padding: 20px;
  width: 100%;
  min-height: calc(100vh - 560px);
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1000px; 
}

.form-container h1 {
  margin-bottom: 20px; 
  text-align: center;
}

.form-control {
  margin-bottom: 15px; 
}

.form-container label {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.form-container input, .form-container textarea, .form-container select {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-bottom: 25px;
  outline: none;
  font-size: 1.6rem;
  width: 100%;
  box-sizing: border-box;
}


.form-container button {
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    color: #ffffff;
    background-color: #82BE00;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
}

.form-container button:hover {
    background-color: #6fae00;
    transform: scale(1.02);
}

.btn-primary {
  width: 80%; 
  background-color: #82BE00; 
  border: none;
  padding: 10px;
}

.btn-primary:hover {
  background-color: #6ca700; 
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0; 
  padding: 0; 
  margin-top: 20px; 
}     
            
            .footer h3 {
                font-size: 2rem;
                color: white;
                margin: 0;
                padding: 10px 0;
            }
  
          
            .logo_sncf2 {
                position: absolute;     
                left: 10px; 
                bottom: 10px; 
                width: 380px;
                height: auto;
            }
  

            .footer-link {
              color: #e6e6e6; 
              text-decoration: none; 
          }
          
          .footer-link:hover {
              text-decoration: none;
              color: #82BE00;
          }



          /* Responsive Design */
          
@media screen and (max-width: 768px) {
  .titre2 {
      font-size: 4rem; /* Réduction de la taille du titre sur mobile */
  }

  .form-container {
      padding: 30px; /* Ajustement du padding pour mobile */
      margin-top: 50px; /* Réduire l'espace supérieur sur mobile */
  }

  .nav {
      margin-top: 20px; /* Ajustement de la marge du menu de navigation */
  }

  .nav li {
      margin: 0 10px; /* Réduction de l'espace entre les éléments du menu */
  }

  .nav a {
      font-size: 1.5rem; /* Réduction de la taille des liens du menu */
  }
}