

body{
    margin: 0 auto;
    background-color: #e6e6e6;
    height: 100%;
    overflow: hidden;
    position: relative;
    }
     
    .presentation{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      color:#00205b;
    font-size: 30px;
      padding:  1px 800px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      text-align: center;
      margin-left: 700px;
        }
    
     
      
          /*HEADER*/
    .header{
        display : flex;
       justify-content: space-between;
       align-items: center;
        height: 280px;
        width: 100%;
        border: solid;
        background-color: #00205b;
        border-color: #00205b;  
        padding: 20px;
        }   
  
        
        .header h1 {  
          margin: 0; 
          font-size: 5em; 
         text-align: center;
         color: #e6e6e6;
        }
    
  
       .logo_sncf{
        height: 470px;
        width: 450px;
       }
  
       /* menu de navigation*/
       .nav {
          list-style-type: none;
          padding: 1%;
          margin-top: 200px;
          display: flex;
          justify-content: space-around;
         
      }
  
         .nav li {
          display: inline;
          margin: 0 50px }
  
          .nav a {
            text-decoration: none; 
            color:#f1f1f1;
            font-weight: bold;
            font-size: 2rem;
            font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
          }

        

/*Bandeau Accueil*/
  
.Bienvenue{
    text-align: center;
    margin-top: 80px;
    }
    
    .titre2 {
      text-align: center;
      font-size: 6rem;
    margin-bottom: 120px;
      font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
      color: #82be00; }
    
   /* GENERAL BLOCK */
  .BlocGénéral {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #e6e6e6;
      padding: 20px;
      width: 100%;
      min-height: calc(100vh - 560px); 
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
  border: 1px solid #82be00;
  padding: 15px;
  text-align: left;
  vertical-align: top;
}

th, td {
  padding: 15px; 
  border: 1px solid #82be00; 
  text-align: left; 
  vertical-align: top; 
}

td {
  height: 50px; 
  font-size: 1em; 
  color: #333;
}

th {
    background-color: #00205b;
    color: white;
    font-weight: bold;
    padding : 15px;
    text-align: left;  
    font-size: 2rem;
    border: 1px solid #82be00;   
}


    tr:nth-child(even) {
      background-color: #f9f9f9; 
  }
  
  tr:hover {
      background-color: #f1f1f1; 
  }


td:first-child, th:first-child {
  width: 50px; /* Largeur de la colonne ID */
}

td:nth-child(2), th:nth-child(2) {
  width: 150px; /* Largeur pour "Titre ticket" */
}

td:nth-child(3), th:nth-child(3) {
  width: 300px; /* Largeur pour "Description" */
}

td:nth-child(4), th:nth-child(4) {
  width: 120px; /* Largeur pour "Créé par" */
}

td:nth-child(5), th:nth-child(5) {
  width: 150px; /* Largeur pour "Date de création" */
}

td:nth-child(6), th:nth-child(6) {
  width: 120px; /* Largeur pour "Catégorie" */
}

td:nth-child(7), th:nth-child(7) {
  width: 120px; /* Largeur pour "Priorité" */
}

td:nth-child(8), th:nth-child(8) {
  width: 100px; /* Largeur pour "Statut" */
}

td:nth-child(9), th:nth-child(9) {
  width: 300px;
}

td:nth-child(10), th:nth-child(10) {
  width: 250px;
}

td:nth-child(11), th:nth-child(11) {
  width: 150px; }


td:hover {
  background-color: #f9f9f9; /* Change la couleur de fond lors du survol */
}

th:hover {
  background-color: #d9d9d9; /* Change la couleur de fond des en-têtes lors du survol */
}

  /* FOOTER */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 280px;
    background-color: #00205b;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0; 
    padding: 0; 
    margin-top: 20px; 
  }     
              
              .footer h3 {
                  font-size: 2rem;
                  color: white;
                  margin: 0;
                  padding: 10px 0;
              }
    
            
              .logo_sncf2 {
                  position: absolute;     
                  left: 10px; 
                  bottom: 10px; 
                  width: 380px;
                  height: auto;
              }
    
  
              .footer-link {
                color: #e6e6e6; 
                text-decoration: none; 
            }
            
            .footer-link:hover {
                text-decoration: underline; 
            }
        
  
        