body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.main-content {
  flex: 1; 
}

  .presentation{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color:#00205b;
  font-size: 30px;
    padding:  1px 800px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
      }
  
      h3{
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-size: 2rem;
    }
    
        /*HEADER*/
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 280px;
          width: 100%;
          background-color: #00205b;
          border-color: #00205b;
          padding: 20px;
          position: relative; 
          top: 0; 
          left: 0;
          right: 0;
          margin: 0;
      }
      
      .header h1 {  
        margin: 0; 
        font-size: 5em; 
       text-align: center;
       color: #e6e6e6;
      }
  

     .logo_sncf{
      height: 470px;
      width: 450px;
     }

     /* menu de navigation*/
     .nav {
        list-style-type: none;
        padding: 1%;
        margin-top: 200px;
    }

       .nav li {
        display: inline;
        margin: 0 40px }

        .nav a {
          text-decoration: none; 
          color: #e6e6e6;
          font-weight: bold;
          font-size: 2rem;
          font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
          padding: 10px 20px;
          border-radius: 30px;
          transition: all 0.3s ease-in-out; 
        }

        .nav a:hover {
          background-color: #82BE00; 
          color: #00205b; 
          transform: translateY(-3px); 
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
      }


        .titre_principal {
          margin: 0;
          font-size: 24px;
      }
/*Bandeau Accueil*/

.Bienvenue .titre2 {
  margin-bottom: 100px;
 font-size: 6rem;
}

.Bienvenue{
text-align: center;
margin-top: 50px;
}

.titre2 {
  text-align: center;
  font-size: 6rem;
  margin: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;}

/*PREMIERE PARTIE */

form{
  width: 2000px;
  height: 1600px;
  margin: 0 auto;
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;
  transition: all 0.3s ease-in-out;
}

form:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); 
}

h1 {
  font-size: 6rem;
  color: #00205b;
  margin-bottom: 80px;
  text-align: center;
  letter-spacing: 2px; 
}

.separation {
  height: 2px;
  background-color: #e6e6e6;
  margin: 30px 0;
}
.corps-formulaire{
  display: flex;
 justify-content: space-between;
  gap: 50px;
}

input:focus, textarea:focus {
  border-color: #82BE00;
  outline: none;
  box-shadow: 0 0 5px rgba(130, 190, 0, 0.5);
}
.gauche, .droite {
  flex: 1;
}

.boite {
  margin-bottom: 60px;
  position: relative;
}


label {
  display: block;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #00205b;
  font-weight: bold;
}

input[type="text"], textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-sizing: border-box; 
  font-size: 2rem;
}

textarea {
  height: 200px;
  resize: vertical; 
}

input[type="text"]::placeholder, textarea::placeholder {
  color: #999999;
}


.corps-formulaire .boite{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.corps-formulaire .gauche .boite input{
margin-top: 2px;
padding: 10px 5px 10px 30px;
border: 1px solid #82BE00;
outline-color: #00205b;
border-radius: 10px;
}


.corps-formulaire .droite{
  margin-left: 100px;
}

.corps-formulaire .droite .boite{
  height: 100%;
}

.corps-formulaire .droite .boite textarea{
 margin-top: 5px;
 padding: 10px;
 background-color: #f8f8f8;
 border: 2px solid #00205b;
 outline: none;
 border-radius: 10px;
 resize: none;
 height: 60%;
}

.pied-formulaire button{
  margin-top: 10px;
  background-color: #82BE00;
  color: white;
  font-size:2rem;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.pied-formulaire {
  text-align: center;
  margin-top: 50px;
}

.pied-formulaire button:hover{
transform: scale(1.05);
}

@media (max-width: 768px) {
  .corps-formulaire {
      flex-direction: column;
      gap: 20px;
  }

  button {
      width: 100%;
  }
}
 
  



/* FOOTER */
.footer {
  height: 280px;
  background-color: #00205b;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 100%;
  margin: 0;
  padding: 0;
}
            
            .footer h3 {
                font-size: 2rem;
                color: white;
                margin: 0;
                padding: 10px 0;
            }
  
          
            .logo_sncf2 {
                position: absolute;     
                left: 10px; 
                bottom: 10px; 
                width: 380px;
                height: auto;
            }
  

            .footer-link {
              color: #e6e6e6; 
              text-decoration: none; 
          }
          
          .footer-link:hover {
              text-decoration: underline; 
          }
      
          .contenu_footer h3 {
            font-size: 2rem;
            color: white;
            margin: 0;
            padding: 10px 0;
          }

          .home-icon {
            position: absolute;
            right: 20px; 
            bottom: 20px;
            color: #e6e6e6; 
            font-size: 2rem; 
            text-decoration: none;
          }
          
          .home-icon:hover {
            color: #82BE00; 
            text-decoration: underline; 
          }
          
      

   
          @media screen and (max-width: 768px) {
              .ImageText {
                  flex-direction: column; 
                  align-items: center;
              }
              
              .Image2 {
                  max-width: 100%;  
                  margin-right: 0;
                  margin-bottom: 20px;
              }
              
              .Decription {
                  max-width: 100%; 
              }
          }