body{
    margin: 0 auto;
    padding: 0;
    background-color: #e6e6e6;
    height: 100%;
    overflow: hidden;
    position: relative;
    }
    
    h3{
        position: fixed;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 2rem;
    }
        
    .presentation{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        color:#1e173c;
      font-size: 30px;
        padding:  1px 800px;
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
        text-align: center;
    }


    /*HEADER*/
.header{
    display : flex;
   justify-content: space-between;
   align-items: center;
    height: 200px;
    width: 100%;
    border: solid;
    background-color: #a0a09f;
    border-color: #a0a09f;  
    padding: 20px; 
        
      }  .header h1 {
        margin: 2; 
        font-size: 4em; 
        display: flex;
      }
      .logo_sncf{
        height: 350px;
        width: 350px;
      }
       
 .titre2{
    font-size: 6rem;
    display: flex;
    justify-content: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
   }

      .titre_principal {
        margin: 0;
        font-size: 24px;
    }

    /* PREMIER BLOC */

     .PremierBloc {
        display: flex;    
        align-items:flex-start; 
        justify-content: space-between; 
        margin-top: 20px;
        height: 400px;
        margin : 20px auto;
        padding: 20px;
        box-sizing: border-box;
    } 


    .Bienvenue {
        flex: 1; 
        max-width: 50%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

.imageDroite{
    flex: 1; 
    max-width: 50%; 
    text-align: right;
    padding-top: 20px;
}

.imageAgrandie {
    height: auto;
    width: 90%;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 2%;
}
    
    
    @media (max-width: 768px) {
        .PremierBloc {
            flex-direction: column; 
        } 
        .Bienvenue,
        .image-container {
            max-width: 100%; 
            text-align: center; 
        }
    }
        
/*DEUXIEME BLOC*/

.Bienvenue{
    text-align: center;
}

.DeuxiemeBloc {
    display: flex;    
        align-items:flex-start; 
        justify-content: space-between; 
        margin-top: 20px;
        height: 400px;
        margin-bottom: 500px;
        padding: 10px;
        box-sizing: border-box;
    }


.DeuxiemeBloc .checkboxLabel {
    font-size: 4rem; 
    margin-left: 20px;
    color: #82BE00;
    margin-bottom: 20px;
    border:1px solid;
    border-color: #1e173c;
    
   
}

.inputField {
    text-align: center;
    width: 50%; 
    padding: 80px;
    font-size: 4rem;
    border: 2px solid #1e173c;
    border-radius: 5px;
    margin-bottom: 30px; 
    font-weight: bold;
}

.separateur2{
    width:200%;
    height: 2px; 
    background-color: #1e173c;
    margin: 110px;
}

    
/*QUATRIEME BLOC*/


.ContainerCheckbox{
    margin-top: 50px;
    display: flex;
    align-items: center; 
}

.checkbox {
    appearance: none;
    background-color: #fff;
    border: 3px solid #ccc;
    width: 70px; 
    height: 70px; 
    cursor: pointer;
    position: relative;
    outline: none; 
    margin-left: 70px;
}

.checkboxLabel {
    font-size: 3rem; 
    margin-left: 40px;
  color: #82BE00;
  margin-bottom: 20px;
}

/*CINQUIEME BLOC*/

.btnContainer {
    display: flex;
    margin-top: 30px; 
    gap:100px;
    margin: 30px;
}

.btn {
    padding: 15px 20px; 
    border: none;
    color: #fff;
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 20px; 
    transition: background-color 0.3s ease; 
}

.BtnConnexion,.BtnCompte {
    background-color: #1e173c;
    height: 40px;
    width: 400px;
    font-size: 2rem;
    text-align: center;
}

.BtnMdpOublie{
    background-color: #82BE00;
    height: 40px;
    width: 400px;
    font-size: 2rem;
    text-align: center;
}


/*FOOTER*/

.footer{
    height: 280px;
    border: solid;
    background-color: #1e173c;
    border-color: #1e173c;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    position: fixed;      
    left: 0;
    bottom: 0;
  }

.logo_sncf2{
  position: absolute;     
  left: 0;
  width: 340px; 
  height: auto;
}


